# Shared Environment
ENVIRONMENT=development
DOCKERFILE=Dockerfile.dev

# Frontend Variables (browser-accessible)
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_API_BASE_URL=http://localhost:8000

# Backend Variables (container-accessible)
BACKEND_SUPABASE_URL=http://host.docker.internal:54321
BACKEND_SUPABASE_SERVICE_ROLE_KEY=
WEBHOOK_BASE_URL=http://host.docker.internal:8000
WEBHOOK_SECRET=

# Development Info
STUDIO_URL=http://127.0.0.1:54323
DB_URL=postgresql://postgres:postgres@localhost:54322/postgres

# Cognee Environment Setup
GEMINI_API_KEY=

# LLM
LLM_PROVIDER="gemini"
LLM_MODEL="gemini/gemini-flash-latest"

# Embeddings
EMBEDDING_PROVIDER="gemini"
EMBEDDING_MODEL="gemini/gemini-embedding-001"

ENABLE_BACKEND_ACCESS_CONTROL=false

# Cloudfare
CLOUDFLARE_R2_ENDPOINT=
`CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_BUCKET_NAME=